{%extends 'mainapp/master.html'%}
{%load static%}
{%block 'mohtava'%}
<div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>{{matn.title|safe}}</h2>
           <p>{{matn.txt|safe}}</p> 
            <div class="phone-info">
              <h4>برای هر گونه سوال ، با ما تماس بگیرید:<span><i class="fa fa-phone"></i> <a href="#">010-020-0340</a></span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  {{f.firstname}}
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  {{f.lastname}}
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  {{f.email}}
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                 
                  {{f.msg}}  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                    <!-- نمایش پیام‌ها -->
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="alert alert-success">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button type="submit" id="form-submit" class="main-button">ارسال پیام</button>
                </fieldset>
            </div>
            
            </div>
            <div class="contact-dec">
              <img src="{%static '/mainapp/'%}assets/images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    setTimeout(function() {
        const messages = document.querySelector('.messages');
        if (messages) {
            messages.style.display = 'none'; // مخفی کردن پیام
        }
    }, 5000); // 5000 میلی‌ثانیه = 5 ثانیه
</script>

  {%endblock%}